@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html,body {
    font-family: 'Merriweather', serif;
    padding: 0;
    margin: 0;
    background-color: silver;
}

.header {
    height: 60px;
    margin: 0;
    background-color: rgb(215, 125, 75);
    color: #f1f1f1;
    text-shadow: 0 0 4px black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    box-shadow: 0 0 5px 2px black;
    z-index: 1;
  }

  .main {
      display: flex;
      position:relative;
      top: 60px;
      flex-wrap: wrap;
      align-items: center;
      justify-content:center;
      margin: 0;
      padding: 0;
  }

  .bookCard {
      position: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: aliceblue;
      width: 250px;
      height: 300px;
      flex-wrap: wrap;
      padding: 0;
      margin: 10px;
      border: none;
      border-radius: 5px;
      box-shadow: 0 0 3px 2px black;
      transition: all 0.2s;
  }
  .bookCard:hover .btn {
    opacity: 100%;
  }

  .cardContent {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      margin: 5px;
      font-size: 16px;
  }

  .btn {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    margin: 0;
    width: 100%;
    height: 30px;
    opacity: 0%;
    transition: all 0.2s;
  }

  .btn:hover {
    box-shadow: inset 0 0 1px 1px black;
  }

  .delete {
      border-radius: 0 0 5px 5px;
      background-color: rgb(255, 139, 118);
      border-top: 1px solid black;
  }

  .edit {
    background-color: rgb(191, 231, 109);
      border-top: 2px solid black;
      border-bottom: 1px solid black;
}